# ==========================
# Pixel Inspector Pro
# Requirements
# ==========================

# GUI
PySide6>=6.8.0
PySide6-WebEngine>=6.8.0

# ADB communication
adbutils>=2.8.0

# Reports
jinja2>=3.1.4
reportlab>=4.2.2

# Images
Pillow>=11.0.0

# Logging / Colors
colorama>=0.4.6

# JSON Validation
jsonschema>=4.23.0

# Utilities
psutil>=6.1.0

# Optional (future updates)
requests>=2.32.3